<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @store.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @store.location %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
